/************************************************* Layout ****************************************************************************/
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to top, rgb(230,230,230), #0D343A);
    background-repeat: no-repeat;
    
    /* Text Properties */
    letter-spacing: .2rem;
}

.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: center;
    
}

button {
  display: block;
  background-color: green;
  color: white;
  letter-spacing: .1rem;
  border-radius: 10%;
  text-align: center;
  cursor:pointer;
  transition: color .15s ease-in-out, box-shadow .15s ease-in-out; 
  
  /* Override default border width */
  border-width: 0px;
} 

button:hover{
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

#help { 
  position: fixed;
  width: 75px;
  font-size: 15px;
  letter-spacing: .15rem;
  height: 60px;
  padding: 5px; 
  bottom: 10px;
  right: 20px;
}

#instruction-box {
  display: none;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 5px;

  position: absolute;
  
  background-color: rgb(207, 197, 197);
  border-radius: 2px;
  width: 300px;
  height: 200px;
}

#instruction-box header {
  display: flex; 
  justify-content: space-between;
  align-items:flex-start;
}

#instruction-box .content {
  letter-spacing: .15rem;
  word-break: keep-all; 

}

#instruction-box footer {
  display: flex;
  justify-content: space-evenly;
}

#prev-button, #next-button {
  width: 50px;
  height: 20px;
}
/************************************************* Clock *****************************************************************************/

.clockbox,
#clock {
    width: 100%;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform .5s ease-in-out;
}



/******************************************************* Raindrop ***************************************************************************/
.rain{
  position: absolute;
  background: linear-gradient(to bottom, rgb(13,52,58,0.2), rgb(255,255,255,1));
  width: 2px;
  height: 89px;
  /* animation: rainFall infinite 1.90s linear; */
}

@keyframes rainFall{
  to{
    margin-top: 100vh;
    bottom: 0px;
  }

}

/************************************* Slider *******************************/
.sliderContainer {
    position: fixed;
    width: 100%;
}

.sliderBox {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 20%;
}

  
.slider {
    position: absolute;
    -webkit-appearance: none;
    width: 97%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
